.main {
    background-color: #181818;
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    height: 1 vh;
    width: 1 wh;
}